body {
	font-size: 0.9em;
	min-width: 300px;
}

.header {
	background-color: #333;
}

.header h1 {
	margin: 0;
	padding: 15px;
	font-size: 1.2em;
	font-weight: normal;
	color: #FFF;
}

.menu {
    padding: 20px;
}

form.card_form {
    padding: 20px;
    height: auto;
}
