{% extends 'base.html' %}
{% block contents %}
        <div class="header">
            <h1>建造カード登録</h1>
        </div>
        <form class="card_form" action='' method='POST'>
            <!-- カード名 -->
            <div class="form-group">
                <label>艦娘名</label>
                <input type="text" class="form-control" placeholder="艦娘名" name="card_name">
                <small class="form-text text-muted">艦娘名入れる</small>
            </div>
            <!-- カード種類 -->
            <div class="form-group">
                <label>カード種類</label>
                <select class="form-control" name="card_type">
                    <option>ノーマル</option>
                    <option>ホロ</option>
                    <option>中破</option>
                </select>
            </div>
            <!-- 燃料 -->
            <div class="form-group">
                <label>燃料</label>
                <input type="text" class="form-control" placeholder="321" name="card_fuel">
                <small class="form-text text-muted">燃料を直接入力</small>
            </div>
            <!-- 弾薬 -->
            <div class="form-group">
                <label>弾薬</label>
                <input type="text" class="form-control" placeholder="321" name="card_ammo">
                <small class="form-text text-muted">弾薬を直接入力</small>
            </div>
            <!-- 鋼材 -->
            <div class="form-group">
                <label>鋼材</label>
                <input type="text" class="form-control" placeholder="321" name="card_steel">
                <small class="form-text text-muted">鋼材を直接入力</small>
            </div>
            <!-- ボーキ -->
            <div class="form-group">
                <label>ボーキ</label>
                <input type="text" class="form-control" placeholder="321" name="card_bauxite">
                <small class="form-text text-muted">ボーキを直接入力</small>
            </div>
            <!-- 筐体番号 -->
            <div class="form-group">
                <label>筐体番号</label>
                <input type="text" class="form-control" placeholder="筐体番号" name="card_satelite_no">
                <small class="form-text text-muted">筐体番号を直接入力</small>
            </div>
            <!-- ゲーセン名 -->
            <div class="form-group">
                <label>ゲーセン名</label>
                <input type="text" class="form-control" placeholder="ゲーセン名" name="card_place_name">
                <small class="form-text text-muted">ゲーセン名を直接入力</small>
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
{% endblock %}
