{% extends 'base.html' %}
{% block contents %}
        <div class="header">
            <h1>建造カード一覧</h1>
        </div>
        <div class="menu">
            <a href='/build_add'><button type="button" class="btn btn-primary">新規作成</button></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>登録番号</th>
                    <th>カード名</th>
                    <th>カード種類</th>
                    <th>燃料</th>
                    <th>弾薬</th>
                    <th>鋼材</th>
                    <th>ボーキ</th>
                    <th>台番号</th>
                    <th>ゲーセン名</th>
                    <th>入手時刻</th>
                    <!-- &nbspは空白を意味する -->
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for card in card_list %}
                <tr>
                    <td>{{card.id}}</td>
                    <td>{{card.name}}</td>
                    <td>{{card.type}}</td>
                    <td>{{card.fuel}}</td>
                    <td>{{card.ammo}}</td>
                    <td>{{card.steel}}</td>
                    <td>{{card.bauxite}}</td>
                    <td>{{card.satelite_no}}</td>
                    <td>{{card.place_name}}</td>
                    <td>{{card.get_timestamp}}</td>
                    <td><a href="/build_del/{{card.id}}"><button type="button" class="btn btn-primary">削除</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
