{% extends 'base.html' %}
{% block contents %}
        <div class="header">
            <h1>ドロップカード登録</h1>
        </div>
        <form class="card_form" action='' method='POST'>
            <!-- カード名 -->
            <div class="form-group">
                <label>艦娘名</label>
                <input type="text" class="form-control" placeholder="艦娘名" name="card_name">
                <small class="form-text text-muted">艦娘名入れる</small>
            </div>
            <!-- カード種類 -->
            <div class="form-group">
                <label>カード種類</label>
                <select class="form-control" name="card_type">
                    <option>ノーマル</option>
                    <option>ホロ</option>
                    <option>中破</option>
                </select>
            </div>
            <!-- カード入手海域 -->
            <div class="form-group">
                <label>カード入手海域</label>
                <input type="text" class="form-control" placeholder="カード入手海域" name="card_get_map">
                <small class="form-text text-muted">カード入手海域を直接入力</small>
            </div>
            <!-- 筐体番号 -->
            <div class="form-group">
                <label>筐体番号</label>
                <input type="text" class="form-control" placeholder="筐体番号" name="card_satelite_no">
                <small class="form-text text-muted">筐体番号を直接入力</small>
            </div>
            <!-- ゲーセン名 -->
            <div class="form-group">
                <label>ゲーセン名</label>
                <input type="text" class="form-control" placeholder="ゲーセン名" name="card_place_name">
                <small class="form-text text-muted">ゲーセン名を直接入力</small>
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
{% endblock %}
