{% extends 'base.html' %}
{% block contents %}
        <div class="header">
            <h1>カード一覧</h1>
        </div>
        <div class="contents">
            <a href='/drop_list'>ドロップカード一覧</a>
            <a href='/build_list'>建造カード一覧</a>
        </div>
{% endblock %}
